.check svg {
    width: 80vmin;
    margin: 0 auto;
    height: 80vmin;
    stroke: white;
}

form {
    position: absolute;
    width: 100%;
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checktext {
    position: absolute;
    max-width: 12vmin;
    text-align: center;
    font-size: 2.5vmin;
    font-family: "Courier New", monospace;
}

svg #joker {
    fill: #303000;
}

svg path:nth-of-type(2n + 1) {
    fill: #606060;
}

svg path:nth-of-type(2n) {
    fill: #202020;
}
