body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    color: #fff;
    background-color: #000;
    font-size: 20px;
}

table.card tr,
table.win tr {
    height: 20%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

table.card,
table.win {
    display: flex;
    height: 80vh;
    text-align: center;
}

.obs table.card,
.obs table.win {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

table.win {
    border: 1px solid #95FE30 !important;
}

table.card td,
table.win td {
    align-items: center;
    display: flex;
    font-size: 1.75vw;
    font-weight: bold;
    hyphens: auto;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    width: 20%;
    border: 1px solid #fff;
}

.obs table.card td,
.obs table.win td {
    font-size: 2.25vw;
}

table.card td:hover,
table.win td:hover {
    background-color: #444;
}

table.card td.clicked,
table.win td.clicked {
    background-color: #333;
    color: #8D42FC;
}

table.card td.clicked:hover,
table.win td.clicked:hover {
    background-color: #666;
}

table.card td.win,
table.win td.win {
    background-color: #95FE30;
    color: #000;
}

table.card td.freecell,
table.win td.freecell {
    background-color: #CCC;
    color: #000;
    font-weight: bold;
}

.joker {
    font-size: 3vw;
    display: block;
}

.win span.joker {
    display: none;
}

.joker img {
    display: none;
}

.win .joker img {
    display: block;
}

.joker img {
    width: 100%;
    max-height: 15vh;
    object-fit: contain;
    height: auto;
}

#card0 td.clicked,
#card0 td.win {
    cursor: context-menu;
}

#card0 td:not(.win):not(.clicked) {
    cursor: crosshair;
}

.flexparent {
    margin: 10vh auto;
    width: 80vw;
    display: flex;
}

.obs .flexparent {
    margin: 0;
    width: 100vw;
    display: flex;
}

.flexcol-80 {
    flex: 80%;
}

.obs .flexcol-80 {
    flex: 100%;
}

.flexcol-20 {
    flex: 20%;
}

.obs .flexcol-20 {
    display: none;
}

#wordlist {
    padding: 0 .75vw;
    margin: 0;
}

.wordlist h2 {
    font-size: 1.75vw;
    text-align: center;
    padding: 0;
    margin: 10px 0;
    font-style: italic;
}

div.wordlist {
    border: 1px solid #fff;
    border-collapse: collapse;
    background-color: #181818;
}

.obs div.wordlist {
    display: none;
}

#wordlist li {
    font-size: 1vw;
    list-style: none;
    border-bottom: 1px dotted #fff;
    display: block;
    width: 100%;
    margin: 7px 0;
}

#wordlist li:hover {
    color: #8D42FC;
}

li.clicked {
    color: #95FE30;
}

@media only screen and (max-width: 575px) {

    table.card,
    table.win {
        height: 100vh;
        margin: 0;
        width: 100vw;
    }

    table.card td,
    table.win td {
        font-size: 2.25vw;
    }
}
