body {
    background-color: #000;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}

table.card tr,
table.win tr {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
}

table.card,
table.win {
    display: flex;
    height: 80vh;
    text-align: center;
}

.obs table.card,
.obs table.win {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

table.win {
    border: 1px solid #95fe30 !important;
}

table.card td,
table.win td {
    border: 1px solid #fff;
    display: flex;
    font-size: 1.5vw;
    font-weight: 700;
    hyphens: auto;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    width: 20%;
}

.obs table.card td,
.obs table.win td {
    font-size: 2.25vw;
}

table.card td:hover,
table.win td:hover {
    background-color: #444;
}

table.card td.clicked,
table.win td.clicked {
    background-color: #333;
    color: #8d42fc;
}

table.card td.clicked:hover,
table.win td.clicked:hover {
    background-color: #666;
}

table.card td.win,
table.win td.win {
    background-color: #95fe30;
    color: #000;
}

table.card td.freecell,
table.win td.freecell {
    background-color: #ccc;
    color: #000;
    font-weight: 700;
}

.joker {
    display: block;
    font-size: 3vw;
    text-decoration: none;
}

span.joker {
    margin-top: 3.5vh;
}

.joker img {
    display: none;
    height: auto;
    margin: 0 25%;
    max-height: 15vh;
    object-fit: contain;
    width: 50%;
}

.joker #code {
    background-color: #fff;
    border: 1px dotted #000;
    color: #000;
    display: none;
    font-family: "Courier New", monospace;
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 12px;
    padding: 3px 0 0;
    text-decoration: none;
}

#card0 td.clicked,
#card0 td.win {
    cursor: context-menu;
}

#card0 td:not(.win):not(.clicked) {
    cursor: crosshair;
}

.flexparent {
    display: flex;
    margin: 10vh auto;
    width: 80vw;
}

.obs .flexparent {
    margin: 0;
    width: 100vw;
    display: flex;
}

.flexcol-80 {
    flex: 80%;
}

.obs .flexcol-80 {
    flex: 100%;
}

.flexcol-20 {
    flex: 20%;
}

#wordlist {
    margin: 0;
    padding: 0 .75vw;
}

.wordlist h2 {
    font-size: 1.5vw;
    font-style: italic;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

div.wordlist {
    background-color: #181818;
    border: 1px solid #fff;
    border-collapse: collapse;
    height: calc(80vh - 2px);
    overflow: scroll;
}

#wordlist li {
    border-bottom: 1px dotted #fff;
    cursor: pointer;
    display: block;
    font-size: 1vw;
    list-style: none;
    margin: 7px 0;
    width: 100%;
}

#wordlist li:hover {
    color: #8d42fc;
}

li.clicked {
    color: #95fe30;
}

.win span.joker,
.obs .flexcol-20,
.obs div.wordlist {
    display: none;
}

.win .joker img,
.win .joker #code {
    display: block;
}

@media only screen and (max-width: 575px) {
    table.card,
    table.win {
        height: 100vh;
        margin: 0;
        width: 100vw;
    }

    table.card td,
    table.win td {
        font-size: 3.5vmin;
    }

    .flexparent {
        margin: 0 auto;
        width: 100vw;
        display: flex;
    }

    .flexcol-80 {
        flex: 100%;
    }

    .flexcol-20 {
        display: none;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.6) and (max-width: 980px) {
    table.card,
    table.win {
        height: 97vh;
        margin: 1vh 0;
        width: 96vw;
    }

    table.card td,
    table.win td {
        font-size: 2vh;
    }

    .flexparent {
        margin: 0 auto;
        width: 96vw;
        display: flex;
    }

    .flexcol-80 {
        flex: 100%;
    }

    .flexcol-20 {
        display: none;
    }

    a.joker {
        margin-top: 4.5vh;
    }

    .joker #code {
        font-size: 3vw;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.6) and (max-width: 980px) and (orientation: landscape) {
    .flexparent {
        display: flex;
        margin: 0 auto;
        width: 97vw;
    }

    a.joker {
        margin-top: 0;
    }

    .joker #code {
        font-size: 2vw;
    }

    table.card td,
    table.win td {
        font-size: 3.5vmin;
    }
}
