body {
    font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #fff;
    background-color: #000;
    font-size: 20px;
}

table.card tr,
table.win tr {
    height: 20%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

table.card,
table.win {
    display: flex;
    height: 80vh;
    margin: 10vh auto;
    text-align: center;
    width: 80vw;
}

table.win {
    border: 2px solid #95FE30;
}

table.card td,
table.win td {
    align-items: center;
    display: block;
    display: flex;
    font-size: 1.75vw;
    font-weight: bold;
    hyphens: auto;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    width: 20%;
    border: 1px solid #fff;
}

table.card td:hover,
table.win td:hover {
    background-color: #444;
}

table.card td.clicked,
table.win td.clicked {
    background-color: #333;
    color: #8D42FC;
}

table.card td.clicked:hover,
table.win td.clicked:hover {
    background-color: #666;
}

table.card td.win,
table.win td.win {
    background-color: #95FE30;
    color: #000;
}

table.card td.freecell,
table.win td.freecell {
    background-color: #CCC;
    color: #000;
    font-weight: bold;
}

.joker {
    font-size: 3vw;
    display: block;
}
